.train-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: fit-content;
  width: 30%;
  min-width: 300px;
  padding: 25px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.45);

  &__button {
    width: 200px;
    height: 40px;
    margin: 0 auto;
  }

  &__input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
  }

  &__date-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__date-option {
    cursor: pointer;

    &--selected {
      color: #2c8fab;
    }

    &--center {
      margin: 0 auto;
    }
  }

  &__button {
    border: none;
    border-radius: 10px;
    background-color: #97dc52;

    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &:hover {
      color: white;
    }
  }

  &__button-text {
    font-size: 16px;
    font-weight: bold;
  }

  &__transfer-arrows {
    margin: 0 auto;
    transform: rotate(90deg);
    width: 25px;
    height: 25px;
    padding: 4px;

    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: brightness(100);
    }
  }

  &__routes {
    display: flex;
    flex-direction: column;
  }
}
