$blue: #478495;
$white: #ffffff;
$black: #343434;

.train-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;

  @media (max-width: 1000px) {
    width: 100%;
  }

  &__content {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
  }

  &__time {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }

  &__barcode {
    margin: 0 auto;
  }

  &__train-icon {
    position: relative;
    width: 2em;
    margin: 0 auto;
    z-index: 1;
  }

  &__cardWrap {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    color: #fff;
    font-family: sans-serif;
  }

  &__card {
    position: relative;
    height: 176px;
    padding: 15px;
    float: left;

    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.45);
    background: linear-gradient(
      to bottom,
      $blue 0%,
      $blue 30%,
      $white 30%,
      $white 100%
    );
  }

  &__cardLeft {
    width: 70%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &__cardRight {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 30%;
    border-left: 0.18em dashed #f8d255;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 0.9em;
      height: 0.9em;
      background: #f8d255;
      border-radius: 50%;
      left: -0.5em;
    }

    &:before {
      top: -0.4em;
    }

    &:after {
      bottom: -0.4em;
    }
  }

  &__number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;

    h3 {
      color: $blue;
      margin: 0.3em 0 0 0;
      font-size: 1.3em;

      @media (max-width: 450px) {
        font-size: 1em;
      }
    }
    span {
      display: block;
      padding-top: 10px;
      color: #a2aeae;
      font-size: 0.7em;
    }
  }

  &__departure_station,
  &__capacity,
  &__fare,
  &__departure_time,
  &__arrival_time {
    text-transform: uppercase;
    font-weight: normal;
    h2 {
      font-size: 0.9em;
      color: #525252;
      margin: 0;

      @media (max-width: 450px) {
        font-size: 0.7em;
      }
    }
    span {
      font-size: 0.7em;
      color: #a2aeae;

      @media (max-width: 450px) {
        font-size: 0.5em;
      }
    }
  }

  &__title {
    font-size: 1.1em;
    margin-top: 0;
    span {
      font-weight: normal;
    }
  }
}
